body{
    background-color: rgb(83, 4, 4);
}
.menu .pimg{
    
}
.menu .pimg img{
    width: 100%;
}


@media screen and (max-width: 800px) {
    .menu .pimg img{
        height: 480px;
    }
    .menu .pimg{
        margin-top: 30px;
    }
}


@media screen and (max-width: 500px) {
    .menu{
        height: 600px;
        overflow-y: hidden;
    }
    
    .menu .pimg img{
        margin-top: 100px;
        height: 350px;
    }
}